p{
    color: #141012;
    
}
.header_C{
    padding: 15px 0px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #111;
}

.hero_count{
    
    background-image: url(../images/Libary.jpg);
    background-size: cover;
    padding-bottom: 20px;
    
}


.hero_div{
    width: 40rem;
    text-align: left;
    position: relative;
    bottom: auto;
    padding: 0;
    margin-left: 10rem;
    height: 40rem;
}
.hero_div img{
    margin-top: 0.8rem;
}

.hero_div h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
margin-top: 17px;
font-family:'poppins', sans-serif;
font-size: 51px;
line-height: 72px;
color: #fff;
font-weight: bold;
padding-bottom: 35px;
}

.hero_div p{
font-family:'poppins', sans-serif;
font-size: 17px;
line-height: 30px;
color: #fff;
}


.btn_rm{
background: transparent;
color: #fff;
padding: 15px 60px 15px 60px;
float: left;
font-size: 15px;
font-weight: 400;
border: solid #fff 2px;
border-radius: 30px;
margin: 63px 0px 60px 0px;
}
.btn_rm:hover{
background: #000;
border: solid #000 2px;
color: #fff;
}
.icon_M{
    text-align: center;
    list-style: none;
    margin-left: 0rem;
    padding: 0;
    width: 100%;
    display: flex;
}
.icon_M img{
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}
@media(min-width: 140px) and (max-width: 820px){
   .hero_div{
       margin-left: auto;
       margin-right: auto;
    width: 20rem;
    height: 30rem;

   }
    .hero_div h1 {

        font-size: 21px;
        padding-top: 5rem;
        padding-bottom: 6px;
        line-height: 27px;
    }
    .hero_div p {
        font-size: 16px;
        line-height: 21px;
    }
    .btn_rm {
        padding: 10px 30px 10px 30px;
        margin: 10px 0px 11px 0px;
    }
}

.our_gr{
    background: url(/images/Rectangle\ 1865.jpg);
    background-size: cover;
    width: 100%;
    height: 65px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
    border-radius: 20px 0px 20px 0px;
}
.our_gr h2{
    padding-top: 17px;

}
.contant_books{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin:20px 50px ;
}
.contant_books .card{
    width: 16rem;
    margin: 2rem;
    border: solid #383838 1.4px;

}
.contant_books .c-left , .contant_books .card .img-left{
    border-radius: 50px 0 0 0;
}
.contant_books .c-right ,.contant_books .card .img-rghit{
    border-radius: 0  50px 0 0;
}
.contant_books .c-left-bottm , .contant_books .card .img-left-bottm{
    border-radius: 0 0 0 20px ;
}
.contant_books .c-right-bottm ,.contant_books .card .img-rghit-bottm{
    border-radius: 0  0  20px 0;
}
.contant_books .card .image_bk{
    transition: 500ms;
    width: 100%;
    height: 10rem;
    filter:contrast(50%);
    background-size: cover;
    overflow: hidden;
}

.contant_books .card .image_bk:hover{
    transition: 600ms;
    filter:contrast(100%);
}
.contant_books .card h3{
    text-align: center;
}
.contant_books .card p{
font-size: 17;
text-align: left;
margin-left: 0.5rem;
margin-bottom: 0.5rem;
color: #141012;
}
.d-btn{
justify-content: right;
display: flex;
margin: 5px;
}
.d-btn a{
width: 150px;
font-size: 12px;
padding: 10px 0px;
background-color: #81256c;
color: #fff;
display: inline-block;
line-height: 20px;
border-radius: 30px;
text-align: center;
margin-top: 5px;
}
.d-btn a:hover{
background-color: #000000;
}


.new-book{
    background: url(/images/rectt.png);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin:20px 50px ;
    border-radius: 0 0 50px 0;
}
.new-book .d_titel{
    text-align: left;
    color: #141012;
    width: 30rem;
    margin: 30px;
}
.new-book .img_book{
    width: 13rem;
    height: 20rem;
    margin: 30px;
}
.evnts h2{
    text-align: center;
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
}
.evnt-img1 .img_E img{
    width: 100%;
}
.evnt-img1{
    
    width: 72vw;
    height: 18vw;
    margin: 5px auto;
    overflow: hidden;
    
}
.evnt-img1 .img_E{
    display: flex;
    animation: evntss 25s infinite alternate-reverse;

}

@keyframes evntss {
    from{
       
        transform: translateX(0);
    }
    to{
       
        transform: translateX(-170vw);
     
    }
}

.art{
    border-bottom: solid 1.5px #141012;
    margin: 10px auto 20px 13.5vw ;
    width: 72vw;
}
.all_art{
    width: 700px;
    height: 300px;
    margin: 2% auto 10%;
    overflow: hidden;

}
 
.mor_art {
    width: 1000px;
    overflow: hidden;
    display: flex;
    /* grid-template-columns: 225px 225px 225px 225px 225px 225px 225px; */
    margin-bottom: 150px;

}
.m_art1{
    background: white;
    border: solid 1px #141012;
    margin: 20px;
    -webkit-box-shadow: 15px 10px 16px -2px rgba(99, 99, 99, 0.61); 
    box-shadow: 15px 10px 16px -2px rgba(70, 70, 70, 0.61);
    animation: morebook 25s linear infinite alternate-reverse;
}

 



.mor_art .m_art1 img{
    
    width:15rem;
    height: 160px;
}
@keyframes morebook {
    from{
        transition: 8000ms;
        transform: translateX(0);
    }
    to{
        transform: scale(1.18);
        transform: translateX(-1200px);
        
    }
}