
.header_C{
    padding: 15px 0px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #111;
}

.hero_count{
    
    background-image: url(../images/Libary.jpg);
    background-size: cover;
    padding-bottom: 20px;
    height: 645.467px;
    
}


.hero_div{
    width: 40rem;
    text-align: left;
    position: relative;
    bottom: auto;
    padding: 0;
    margin-left: 10rem;
}
.hero_div img{
    margin-top: 0.8rem;
}

.hero_div h1{
margin-top: 0;
font-family:'poppins', sans-serif;
font-size: 51px;
line-height: 72px;
color: #fff;
font-weight: bold;
padding-bottom: 35px;
}

.hero_div p{
font-family:'poppins', sans-serif;
font-size: 18px;
line-height: 30px;
color: #fff;
}
.btn_rm{
background: transparent;
color: #fff;
padding: 15px 60px 15px 60px;
float: left;
font-size: 15px;
font-weight: 400;
border: solid #fff 2px;
border-radius: 30px;
margin: 63px 0px 60px 0px;
}
.btn_rm:hover{
background: #000;
border: solid #000 2px;
color: #fff;
}
.icon_M{
    text-align: center;
    list-style: none;
    margin-left: 0rem;
    padding: 0;
    width: 100%;
    display: flex;
}
.icon_M img{
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.our_gr{
    background: url(/images/Rectangle\ 1865.jpg);
    background-size: cover;
    width: 100%;
    height: 65px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
    border-radius: 20px 0px 20px 0px;
}
.our_gr h2{
    padding-top: 15px;

}
.contant_books{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: cornflowerblue;
    margin:20px 50px ;
}
.contant_books .card{
    width: 16rem;
    background: rgb(255, 255, 255);
    margin: 2rem;
    border: solid #383838 1.4px;
}
.contant_books .c-left{
    border-radius: 50px 0 0 0;
}
.contant_books .c-right{
    border-radius: 0  50px 0 0;
}
.contant_books .card .image_bk{
    transition: 500ms;
    width: 100%;
    height: 10rem;
    background: url(/images/Library-.jpg);
    filter:contrast(50%);
    background-size: cover;
    overflow: hidden;
}
.contant_books .card .img-rghit{
    border-radius: 0px 50px 0 0;
}
.contant_books .card .img-left{
    border-radius: 50px 0 0px 0;
}
.contant_books .card .image_bk:hover{
    transition: 600ms;
    filter:contrast(100%);
}
.contant_books .card h3{
    text-align: center;
}
.contant_books .card p{
font-size: 16;
text-align: left;
margin-left: 0.5rem;
margin-bottom: 0.5rem;
color: #141012;
}
.d-btn{
justify-content: right;
display: flex;
margin: 5px;
}
.d-btn a{
width: 150px;
font-size: 12px;
padding: 10px 0px;
background-color: #81256c;
color: #fff;
display: inline-block;
line-height: 20px;
border-radius: 30px;
text-align: center;
margin-top: 5px;
}
.d-btn a:hover{
background-color: #000000;
}
